SwiftLife.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SwiftLife.xcodeproj/project.xcworkspace/xcuserdata/janwillemdebirk.xcuserdatad/UserInterfaceState.xcuserstate
SwiftLife.xcodeproj/xcuserdata/janwillemdebirk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftLife.xcodeproj/xcuserdata/janwillemdebirk.xcuserdatad/xcschemes/SwiftLife.xcscheme
SwiftLife.xcodeproj/xcuserdata/janwillemdebirk.xcuserdatad/xcschemes/xcschememanagement.plist
